<div class="links">
    <h1>Click on the Links</h1>
    <div class="link-container">
        <div class="link-item">
            <a href="https://www.instagram.com/garimaz_gallery?igsh=NTc4MTIwNjQ2YQ%3D%3D&utm_source=qr" target="_blank">
                <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Links/InstaHandle.JPG" alt="Instagram Handle" class="link-image">
            </a>
            <p class="link-label">Instagram Page</p>
        </div>
        <div class="link-item">
            <a href="https://venmo.com/u/Garima-Singh-28" target="_blank">
                <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Links/Venmo.PNG" alt="Venmo" class="link-image">
            </a>
            <p class="link-label">Venmo Link</p>
        </div>
        <div class="link-item">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdrQYLoF-SzCQGPyCEsmbhEnGWX16fpP6WLXLrNiqbpuqaq3w/viewform?usp=dialog" target="_blank">
                <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Links/OrderForm.JPG" alt="Order Form" class="link-image">
            </a>
            <p class="link-label">Card Order Form</p>
        </div>
    </div>
</div>
