<div class="clayart">
  <h1>ClayArt</h1>
  <p>"Shaping imagination into reality—explore the magic of my clay art!"</p>
  <div class="image-container">
    <div class="image-item">
      <img 
        src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/ClayArt/ClayFrame.jpg" 
        alt="Clay Frame" 
        class="clay-image" 
        (click)="openLightbox('https://garimas-gallery-images.s3.us-west-1.amazonaws.com/ClayArt/ClayFrame.jpg')" 
      />
      <p class="image-label">Clay Frame</p>
    </div>
    <div class="image-item">
      <img 
        src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/ClayArt/Clay+Mugs.jpg" 
        alt="Clay Mugs" 
        class="clay-image" 
        (click)="openLightbox('https://garimas-gallery-images.s3.us-west-1.amazonaws.com/ClayArt/Clay+Mugs.jpg')" 
      />
      <p class="image-label">Clay Mugs</p>
    </div>
    <div class="image-item">
      <img 
        src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/ClayArt/Owls.jpg" 
        alt="Clay Owls" 
        class="clay-image" 
        (click)="openLightbox('https://garimas-gallery-images.s3.us-west-1.amazonaws.com/ClayArt/Owls.jpg')" 
      />
      <p class="image-label">Clay Owls</p>
    </div>
    <div class="image-item">
      <img 
        src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/ClayArt/ClayFigures.jpg" 
        alt="Clay Figures" 
        class="clay-image" 
        (click)="openLightbox('https://garimas-gallery-images.s3.us-west-1.amazonaws.com/ClayArt/ClayFigures.jpg')" 
      />
      <p class="image-label">Clay Figures</p>
    </div>
    <div class="image-item">
      <img 
        src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/ClayArt/Bear.jpg" 
        alt="Clay Bear" 
        class="clay-image" 
        (click)="openLightbox('https://garimas-gallery-images.s3.us-west-1.amazonaws.com/ClayArt/Bear.jpg')" 
      />
      <p class="image-label">Clay Bear</p>
    </div>
    <div class="image-item">
      <img 
        src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/ClayArt/Mix.jpg" 
        alt="Message Holder" 
        class="clay-image" 
        (click)="openLightbox('https://garimas-gallery-images.s3.us-west-1.amazonaws.com/ClayArt/Mix.jpg')" 
      />
      <p class="image-label">Message Holder</p>
    </div>
  </div>
</div>

<!-- Lightbox Modal -->
<div *ngIf="isLightboxOpen" class="lightbox">
  <img [src]="lightboxImage" alt="Clay Art">
  <button class="close-btn" (click)="closeLightbox()">Close</button>
</div>


