<div class="gallery">
    <h1>Art Gallery</h1>
    <p>"My art celebrates the beauty of folk traditions, spirituality, and our connection to nature."</p>
    <div class="art-container">
      <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Art/ShriGanesh.jpg" alt="Art 1" class="art-image">
      <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Art/FolkArt.jpg" alt="Art 2" class="art-image">
     <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Art/FolkArt-2.jpg" alt="Art 3" class="art-image">
     <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Art/Buddha.jpg" alt="Art 4" class="art-image">
     <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Art/Bird.JPG" alt="Art 5" class="art-image">
     
    </div>
  </div>
