/* Header styling */
.header {
  background-color: #f7d9b4;
  padding: 10px 20px;
  border-bottom: 2px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box; /* Ensure padding and border are included in width */
}
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 200px; /* Adjust based on your logo size */
    height: auto;
    margin-right: 10px;
  }
  
  .nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #4a2d22;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-links a.active {
    color: #c75c31;
  }
  
  .nav-links a:hover {
    color: #c75c31;
  }
  
  /* Main content styling */
  .main-content {
    padding: 2rem;
  }
  
  /* Footer styling */
  .footer {
    background-color: #f7d9b4;
    text-align: center;
    padding: 10px 0;
    color: #4a2d22;
  }