<div class="gallery">
    <h1>Cards Gallery</h1>
    <p>Browse through my collection of unique and creative greeting cards.</p>
    <div class="card-container">
      <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Cards/SG-1.png" alt="Greeting Card 1" class="card-image">
      <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Cards/BD-1.png" alt="Greeting Card 2" class="card-image">
      <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Cards/BD-2.png" alt="Greeting Card 3" class="card-image">
      <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Cards/FL-1.png" alt="Greeting Card 4" class="card-image">
      <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Cards/FL-2.png" alt="Greeting Card 5" class="card-image">
      <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Cards/FL-3.png" alt="Greeting Card 6" class="card-image">
      <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Cards/FL-4.png" alt="Greeting Card 7" class="card-image">
      <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Cards/SC-1.png" alt="Greeting Card 8" class="card-image">
      <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Cards/SC-2.png" alt="Greeting Card 9" class="card-image">
      <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Cards/MD.png" alt="Greeting Card 10" class="card-image">
      <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Cards/HRT-1.png" alt="Greeting Card 11" class="card-image">
      <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Cards/HRT-2.png" alt="Greeting Card 12" class="card-image">
      <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Cards/GR-1.png" alt="Greeting Card 13" class="card-image">
      <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Cards/GR-2.png" alt="Greeting Card 14" class="card-image">
      <img src="https://garimas-gallery-images.s3.us-west-1.amazonaws.com/Cards/PR-1.jpg" alt="Greeting Card 15" class="card-image">
    </div>
  </div>
